[submodule "IndustriesOfEnceladusRewriteCN"]
	path = IndustriesOfEnceladusRewriteCN
	url = https://github.com/Tessier2501/IndustriesOfEnceladusRewriteCN
[submodule "TranslateBooksWithLLMs"]
	path = TranslateBooksWithLLMs
	url = https://github.com/Tessier2501/TranslateBooksWithLLMsMod.git
